spring:
  application:
    jwt:
      secretKey: 25432A462D4A614E645267556A586E3272357538782F413F4428472B4B625065
      expiration: 43200000
      refreshExpiration: 604800000   # 7Ïùº
    name: chapter2
  datasource:
    url: jdbc:mysql://${DATABASE_URL}/chapter2
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create

    show-sql: true
